<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templating with EJS</title>
</head>
<body>
    <h1>Welcome Home</h1>
    <p>Ma première page EJS en templating !!!</p>
    <hr>
    <div>
    </div>
</body>
</html>