<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

    <link href="../assets/bootstrap.css" rel="stylesheet">
    <link href="../assets/signin.css" rel="stylesheet">

	<title>Username</title>
</head>
<body>
	<form class="form-signin-heading" id="new_user" method="post">
		<input class="form-control" type="username" name="username" id="username" placeholder="Your Username"><br>
		<input class="form-control" type="text" name="mail" id="mail" placeholder="Your email"><br>
		<input class="form-control" type="password" id="password" name="password" placeholder="*********"><br>
		<input class="btn btn-lg btn-primary btn-block" type="submit">
	</form>


</body>
</html>